<script type="text/javascript" src="/assets/index.js"></script>
<script type="text/javascript">
  <%= Opal::Processor.load_asset_code($opal.sprockets, "index.js") %>
</script>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="pull-right" id="utc-clock" style="font-size: 2em"></div>
      <h1>Brahe!</h1>
    </div>
    <h3>Live</h3>
    <div id="sat-table"></div>
    <h3>Upcoming Passes</h3>
    <div id="passes-table"></div>
  </div>
</div>