<script src="/assets/index.js"></script>
<script><%= Opal::Processor.load_asset_code($opal.sprockets, "index.js") %></script>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Brahe!</h1>
    </div>
    <div id="sat-table"></div>
  </div>
</div>